//variables
$link_color: #f2f2f2;
$svg_background: #1f78b4;

@import url('https://fonts.googleapis.com/css?family=Roboto');
//general style

body {
	font-family: 'Roboto', Arial, sans-serif;
	font-size: 16px;
	background-color: #4d4d4d;
}

a {
	text-decoration: none;
	&:visited {
		color: $link_color; 
	}
}

h1 {
	font-size: 2em;
	text-align: center;
	margin: 10px 0;
	color: $link_color;
}

h3 {
	@extend h1;
	font-size: 1.4em;	
}

svg {
	display: block;
	background-color: $svg_background;
	margin: 0 auto;
	&.histogram {
		margin-top: 1em;
	}
}

.tooltip {
	background: #fff;
	max-width: 150px;
	p {
		font-size: 0.9em;
		font-weight: 600;
		margin: 5px 0;
		text-align: center;
	}
}


footer {
	color: $link_color;
	p {
		text-align: center;
		font-size: 0.9em;
	}
}